<footer>
    <hr>

    <div class="footer">
        <div class="footer_titles">Benefits</div>
        <div class="footer_sub">
            <div class="sub_list">Find a Local Organization</div>
            <div class="sub_list">Analyze Relevant Statistics</div>
            <div class="sub_list">Use Heatmap</div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_titles">Explore</div>
        <div class="footer_sub">
            <div class="sub_list">Local Pantries & Distribution Centers</div>
            <div class="sub_list">AI Powered Recipes</div>
            <div class="sub_list">Search Inventories</div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_titles">Resources</div>
        <div class="footer_sub">
            <div class="sub_list">List of Organizations & Centers</div>
            <div class="sub_list">Support</div>
            <div class="sub_list">Contact us</div>
        </div>
    </div>
</footer>