<div class="recipe-sub">
    <div class="title"><%= recipe.title %></div>
    <div>By: <%= recipe.username %></div>

    <br />
    <a href=<%= "/recipes/view/" + recipe.id %>>
        <button>View</button>
    </a>
</div>